<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>My E-Shop</title>
    
    <style>
        /* Optional: Makes the navbar links look a bit better */
        .navbar-nav .nav-link { padding-right: 1rem; padding-left: 1rem; }
    </style>

    <style>
        /* Whole Card Animation */
        .product-card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
        }

        .product-card:hover {
            transform: translateY(-10px); /* Card moves UP slightly */
            box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important; /* Soft Shadow appears */
        }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">My Startup Shop</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">

            <form class="d-flex ms-auto me-3" method="GET" action="{% url 'homepage' %}">
                <!--- note: name="q" is imp, as it will be analysed in backend --->
                <input class="form-control me-2" type="search" name="q" placeholder="Search products..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'homepage' %}">Store</a>
            </li>



            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link text-warning">Hi, {{ user.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders' %}">My Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_cart' %}">
                    Cart <span class="badge bg-secondary">{{ cart_count }}</span>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4 mb-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    title: "{{ message.tags|title }}!",  // 'Success' or 'Error'
                    text: "{{ message }}",               // "Product is Out of Stock"
                    icon: "{{ message.tags }}",          // Checkmark or X icon
                    confirmButtonText: 'OK',
                    confirmButtonColor: '#3085d6',
                });
            </script>
        {% endfor %}
    {% endif %}
  </body>
</html>